/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

#carousel-container {
    width: 1000px;
    height: 400px;
    background-color: coral;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.images-container {
    background-color: aquamarine;
    width: 75%;
    flex-grow: 0;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.image.active {
    display: block;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    text-align: right;
    color: white;

}

.title {
    font-size: 20px;
    font-weight: bold;
}

.text {
    font-size: 16px;
}

.thumbnails-container {
    background-color: black;
    width: 25%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.thumbnail {
    width: 100%;
    height: calc(100% / 5);
    background-color: gray;
    opacity: 0.5;
}

.thumbnail.active {
    opacity: 1;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
}
.arrow.previous {
    top: 5px;
}
.arrow.next {
    bottom: 5px;
}